<div class="scroll-up-btn">
    <i class="fas fa-angle-up"></i>
</div>

<!-- LOGO START -->
<div class="logo"><a href="#">EON<span>PLAYLIST</span></a></div>

<!--CLOCK START -->
<div class="display">
    <div id="clock"></div>
</div>

<!-- NAVBAR -->
<nav id="navbar" class="navbar">

    <div class="max-width">

        <!-- NavBar List and List Shortcut: ( ul.menu>li*6>a ) -->
        <ul class="menu">
            <li><a href="/" class="menu-btn"><i class=" fas fa-compact-disc "></i> Home </a></li>
            <li><a href="api/playlist" class="menu-btn"><i class="fas fa-headphones-alt"></i>PlayList</a></li>
        </ul>
        <div class="menu-btn-burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </div>
</nav>

<section class="home" id="home">

    <div class="max-width">
        <div class="home-content">
            <div class="text-2">WELCOME TO EON</div>
            <div class="text-1">WHEN WE SEEK TO DISCOVER NEW PLAYLIST,</div>
            <div class="text-0">WE MANAGE TO BRING OUT SOMETHING NEW IN OURSELVES</div>
            <div class="text-3">EXPLORE<span class="textStyle"></span></div>
            
                <input id="input">
                <button id="search">Search</button>
                
            <a class="exploreButt" href="api/playlist">Listen Now</a>
        </div>
<div id="songSpace">
</div>

<!-- FOOTER SECTION START -->
<footer>
    <span> Created & Designed by <a href="#"> </a> | <span class="far fa-copyright"></span>
        2020
        All rights reserved </span>
</footer>